@theme {
  --color-surface: #030112;
  --color-ink: #faf8ff;
  --color-primary: #b8b3e9;
  --color-secondary: #efa6a2;
  --color-muted: #aca9bb;
  --color-accent: #b5726f;

  /* Gradient stops - rainbow */
  --color-grad-rainbow-1: #b8b3e9;
  --color-grad-rainbow-2: #efb0e7;
  --color-grad-rainbow-3: #ffafcc;
  --color-grad-rainbow-4: #ffbba2;
  --color-grad-rainbow-5: #ffd67b;
  --color-grad-rainbow-6: #f9f871;
}
